/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
header {
    font-family: 'Cedarville Cursive', 'cursive';
    font-size: 2em;
    width: 100%;
    display: block;
    margin: auto;
    color: #1a1a1a;
}

#logo {
    font-size: 1em;
}

#logo li {
    list-style-type: none;
}

#logo a {
    text-decoration: none;
    color: #1a1a1a;
}

#logo a:hover {
    color: #f4ba4c;
}

#logo img {
    width: 2em;
    vertical-align: middle;
}

nav {
    display: none;
}

a:hover {
    color: #f4ba4c;
}

#wrapper {
    width: 100%;
    display: block;
    margin: auto;
    font-family: 'Spinnaker', 'sans-serif';
    color: #1a1a1a;
    text-align: center;
}

#main-content {
    background: #f2f2f2;
    padding-top: 2%;
    padding-bottom: 2%;
}

.sub-content {
    width: 90%;
    max-width: 400px;
    display: block;
    margin: auto;
}

.sub-content img {
    width: 95%;
    border: 5px solid lightgray;
}

.sub-content h2 {
    font-family: 'Cedarville Cursive', 'cursive';
    font-size: 2em;
}

.not-mobile {
    display: none;
}

#connect a {
    text-decoration: none;
    color: #1a1a1a;
}

#connect a:hover{
    color: #f4ba4c;
}

#connect i {
    font-size: 1.5em;
    letter-spacing: .5em;
}

footer {
    clear: both;
    font-family: 'Spinnaker', 'sans serif';
    text-align: center;
    padding-top: 2%;
}

/*About page styles========================================================*/
.project-img {
    height: 0;
    padding-bottom: 95%;
    border: 5px solid lightgray;
    position: relative;
}

.project-img img {
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project h2 {
    font-family: 'Spinnaker', 'sans-serif';
}

.about-content {
    width: 90%;
    display: block;
    margin: auto;
}

.about-content img {
    width: 95%;
    border-radius: 50%;
    border: 5px solid lightgray;
}

.about-content h2 {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 2em;
}

.about-content a {
    text-decoration: none;
    color: #ff6d4b;
}

.love {
    font-size: 1.25em;
    font-weight: bolder;
}

#bio-introduction {
    padding-top: 2%;
}

.big-emoji {
    font-size: 1.5em;
}

#day-in-the-life-content {
    background: #f2f2f2;
}

#day-in-the-life-content p{
    background: lightgray;
}

#connect-footer a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 2em;
    letter-spacing: 10px;
}

#connect-footer a:hover{
    color: #f4ba4c;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/*Tablet styles*/
@media screen and (min-width: 768px){

#logo {
    font-size: 1.75em;
}

p {
    font-size: 2em;
}

.sub-content h2 {
    font-size: 3em;
}

/*About Tablet Styles*/

.about-content img {
    width: 75%
}

}

/*Desktop styles*/
@media screen and (min-width: 1024px) {

.mobile {
    display: none;
}

.not-mobile {
    display:block;
}

#logo {
    font-size: 1em;
    width: 40%;
    float: left;
}

#logo ul li {
    display: inline;
    list-style-type: none;
}

nav {
    display: block;
    width: 60%;
    text-align: right;
    float: right;
}

nav ul li {
    display: inline;
    list-style-type: none;
    padding: 0 3%;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #1a1a1a;
}

p {
    font-size: 1em;
}

.sub-content {
    max-width: 1600px;
}

.sub-content h2 {
    font-size: 2em;
}

.three-col {
    width: 25%;
    float: left;
    margin-left: 6.25%;
}

#main-content {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 7%;
    clear: both;
}


/*About Desktop Styles================================================*/

.project-img {
    width: 25%;
    height: 0;
    padding-bottom: 25%;
    float: left;
    margin-left: 6.25%;
    border: 5px solid lightgray;
    position: relative;
}

.project-img img {
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.two-thirds {
    width: 50%;
    float: right;
    margin-right: 6.25%;
}

.project {
    padding-bottom: 30%;
}

.about-content img {
    width: 20%;
    float: left;
    vertical-align: middle;
}

#bio-introduction {
    clear:both;
    display: flex;
    align-items: center;
}

#bio-introduction p {
    padding-left: 5%;
}

#bio-background {
    clear:both;
    padding-top: 5%;
}

#question-1, #question-2, #question-3 {
    width: 25%;
    float: left;
    margin-left: 6.25%;
}

}

/*====================================================================*/

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
